* {
	margin: 0;
	padding: 0;
font-family: 'Lato', sans-serif; }

h1 {
font-size: 20pt; }

h4 {
font-size: 14pt; }

body {
padding-top: 30px; }
body div hr {
	height: 1px;
	border: none;
border-top: solid 1px #aaa; }
body p {
font-size: 15px; }
body .info {
	text-align: center;
padding: 0px; }
body .info__name {
padding: 5px 40px; }
body .info__contact {
padding: 5px 40px; }
body .education {
padding: 5px 60px; }
body .education__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
align-items: center; }
body .education__container__left {
padding-right: 15px; }
body .education__container__right {
	min-width: 67px;
padding-left: 15px; }
body .courses {
padding: 5px 60px; }
body .courses__names {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
align-items: center; }
body .courses__names--container {
	width: calc(100% * 1/3);
padding-top: 5px; }
body .courses__names p:before {
	content: "\2022";
padding: 3px; }
body .technologies {
padding: 5px 60px; }
body .technologies__languages {
	padding: 15px 15px 0px 15px;
	display: flex;
	justify-content: flex-start;
flex-wrap: wrap; }
@media all and (max-width: 680px) {
	body .technologies__languages {
justify-content: center; } }
body .technologies__languages p {
padding-top: 5px; }
body .technologies__languages--language {
	width: 90px;
	font-size: 25px;
	display: flex;
	flex-direction: column;
align-items: center; }
@media all and (max-width: 779px) {
	body .technologies__languages--language {
padding-bottom: 15px; } }
body .technologies__languages--language p {
padding-top: 5px; }
body .experience {
padding: 5px 60px; }
body .experience__ex {
padding-bottom: 15px; }
body .experience__ex--company {
	text-decoration: none;
	color: #6783dc;
font-size: 15pt; }
body .experience__ex--title {
	color: #ce5b40;
font-size: 12pt; }
body .experience__ex--responsibilities {
	font-size: 10pt;
padding-left: 30px; }
