/* Education Section Styling */

$education-media-change: 900px;

.education {
	max-width: 1100px;

	&__underline {
		margin-bottom: 15px;
		width: 150px;
	}

	&--info {
		@media all and (max-width: $education-media-change) {
			display: block;
		}

		&--brandeis {
			padding: 15px;
			float: right;

			@media all and (max-width: $education-media-change) {
				margin: 0 auto;
				max-width: 300px;
				width: 80%;
				padding: 15px 0;
				display: block;
				float: none;
			}
		}

		p {
			padding-bottom: 10px;
			line-height: 1.5em;
		}
	}
}
