body {
	height: 100vh;
	background-image: url(login-background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.login {
	padding: 0;
	display: flex;
	justify-content: center;

	form {
		margin-top: 60px;
		max-width: 400px;
		width: 80%;
		background: rgb(219, 219, 219);
		border-radius: 15px;
		box-shadow: 0px 0px 10px #000000;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			text-align: center;
		}

		input {
			margin: 10px;
			width: 80%;
			padding: 10px;
			box-sizing: border-box;
			border: 1px solid rgba(0, 0, 0, .5);
			border-radius: 5px;
			font-size: 17px;
		}

		button {
			margin-bottom: 15px;
			width: 50%;
			padding: 10px;
			background: rgb(137, 193, 166);
			border: none;
			border-radius: 5px;
			box-shadow: 0 0 10px black;
			font-size: 17px;
		}
	}
}
