// stop others from dragging and droping images from the site to save as their own
* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

// stop people from dragging and dropping images from the page to their computer
img {
	pointer-events: none;
}

// Universal css
section {
	margin: 30px auto;
	padding: 0 30px;
	min-height: 311px;
	@media all and (max-width: 767px) {
		margin: 30px;
	}
}

a {
	color: black;
	text-decoration: underline;
}

// CSS used for sliding in animations
.slide {
	transition: all .5s ease;
	opacity: 0;
}

.slideFromLeft {
	transform: translateX(-30%);
}

.slideFromRight {
	transform: translateX(30%);
}

.move {
	transform: translateX(0%);
	opacity: 1;
}

// Page specific stylesheets
@import 'home';
@import 'resume';
@import 'about';
@import 'education';
@import 'interests';
@import 'projects';
