@media all and (min-width: 1000px) {
	section {
		padding: 30px 90px;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

@import 'home';
@import 'resume';

// CSS used for sliding in animations
.slide {
	transition: all .5s ease;
	opacity: 0;
}

.slideFromLeft {
	transform: translateX(-30%);
}

.slideFromRight {
	transform: translateX(30%);
}

.move {
	transform: translateX(0%);
	opacity: 1;
}
