/*Easily view div sections*/

/*div {
border: 1px solid #73AD21;
}*/


/*
section {
border: 1px solid blue;
contact }
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

@import 'home';
@import 'resume';