/* Projects Section Styling */

.projects {
	padding: 20px;
	max-width: 1200px;
	&__underline {
		width: 109px;
	}

	.projects__container {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		@media all and (max-width: 1000px) {
			flex-wrap: nowrap;
			overflow-x: scroll;
			overflox-y: hidden;

		}

		.project {
			width: 30%;
			margin: 0 auto;
			padding: 0 20px 20px 20px;
			display: flex;
			align-items: center;
			flex-direction: column;

			@media all and (max-width: 1000px) {
				padding: 0 20px;
				width: calc(50% - 40px);
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-shrink: 0;
			}

			@media all and (max-width: 500px) {
				width: calc(87% - 40px);
			}

			@media all and (min-width: 501px) and (max-width: 750px) {
				width: calc(60% - 40px);
			}

			h2 {
				padding-bottom: 15px;
				@media all and (max-width: 1000px) {
					text-align: center;
				}

			}

			img {
				width: 300px;
				float: left;
				border: 1px solid gray;
				@media all and (max-width: 1000px) {
					width: 80%;
				}
			}

			p {
				padding-left: 30px;
				line-height: 1.5em;
				margin-top: 15px;
				@media all and (max-width: 1000px) {
					padding-left: 0;
					font-size: .9em;
				}
			}
		}

	}
}
