@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.blog {

	h1 {
		text-align: center;
		margin: 30px auto 0 auto;
		max-width: 700px;
	}


	h2 {
		margin: 30px auto 0 auto;
	}

	h3 {
		margin: 30px auto 0 auto;
	}

	p {
		margin: 7px 0;
		font-size: 1.2em;
		line-height: 1.7em;
	}

	ol {
		padding: 0 0 0 30px;
		font-size: 1.2em;

		li {
			font-family: 'Crimson Text', serif;
		}
	}

	ul {

		padding: 0 0 0 30px;
		font-size: 1.2em;
		li {
			font-family: 'Crimson Text', serif;
		}
	}

	em {
		font-family: 'Crimson Text', serif;
	}
};
