/*Easily view div sections*/
/*
div {
	border: 1px solid #73AD21;
}
*/

/*
section {
	border: 1px solid blue;
contact } 
*/ 

.main-title a {
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (max-width: 767px){
	* {
		font-size: 12pt; 
	}
}

/*************************************************************************/
/*FONT, TEXT AND IMAGE STYLING*/

.baron-neue {
	font-family: monaco;
}

.center-text {
	text-align: center;
}

.center-image {
	margin: 0 auto;
}
/******************************************************************************/
/* Separator Styling */

.separator {
	display: flex;
	justify-content: center;
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: rgb(228,228,228);
}

.center-down-arrow {
	display: flex;
	justify-content: center;
	padding-top: 13px;
}

/******************************************************************************/
/*ABOUT SECTION */

.about-container {
	max-width: 1300px; 
	margin: 0 auto;
	font-size: 14pt;
	color: black;
}

.about-underline{
	margin: auto; /* this  keeps the yellow line under About centered */
	padding-top: 20px;
	border-bottom: 4px solid #edc27b;
	width: 92.5px;
	text-align: center;
}

.bio {
	float: left;
}

.bio-image {
	float: left;
	margin: 0 20px 0px 20px;
	max-width: 25vw;
}

.bio-description {
	text-align: justify;
	padding-left: 20px; 
	padding-right: 20px;
}

.icons {
	padding-top: 15px;
	clear:left;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.icon {
	width: 33vw;
}

@media screen and (max-width: 767px){
	.bio-image {
		display: block;
		margin: 0 auto;
		float: none;
		min-width: 95%;
}
	
	.bio-description {
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}	
	
	.icons {
		flex-wrap: wrap;
	}

	.icon {
		width:100vw;
	}
}
/*****************************************************************************/
/* Education and Experience Styling */
.edu-exp {
	font-size: 14pt; 
}

.edu-exp-underline{
	margin: auto; /* this  keeps the yellow line under About centered */
	padding-top: 20px;
	border-bottom: 4px solid #edc27b;
	width: 433px;
	text-align: center;
}

.brandeis-logo {
	float: right;
}

@media screen and (max-width: 767px) {
	.edu-exp-underline {
		width: 232px;
	}

	.brandeis-logo {
		margin: 0 auto;
		float: none;
		width: 300px;
	}
}

/*****************************************************************************/

.interests {
	height: 100vh;
	margin-top: 50px;
}

.interests-underline {
	border-bottom: 4px solid #edc27b;
	margin: 0px auto;
	width: 162px
}


/******************************************************************************/
/*CONTACT FORM STYLING*/

/*.contact {
	height: 100vh;
	margin-top: 50px;
}
.contact-underline {
	margin: 0px auto;
	border-bottom: 4px solid #edc27b;
	width: 205px;
	text-align: center;
}


form {
	margin: 0px calc(50% - 250px);
}

label {
	display: block;
}

input{
	height: 35px;
}

textarea{
	height: 500px;
	max-height:200px;
	resize: none;
}

input, textarea{
	width: 500px;
	max-width: 500px;
	background: #fbf2e4;
	border: 3px dashed #dedede;
	border-radius:5px;
	text-align: left;
}

input:focus, textarea:focus{
	outline-width: 0;
	border:3px solid #edc27b;
}

[>Mobile<]
@media screen and (max-width : 767px) {
	input, textarea {
		width: 95%;
		max-width: 95%;
	}

	input{
		height: 35px;
	}

	form {
		margin: 0px auto;
	}
}

#submit{
	background-color: #edc27b;
	width: 127px;
	height: 38px;
	color: white;
	text-align: center;
	border: 0px;
	cursor:pointer;
}

#submit:hover{
	opacity: .7;
}*/

/******************************************************************************/
/*BORDERS AND MARGINS*/

.top-margin {
	margin-top: 2em;
}

.bottom-margin {
	margin-bottom: 2em;
}

.left-margin {
	margin-left: 2em;
}

.top {
	padding-top: 2em;
}

.opacity {
	opacity: .8;
}

/******************************************************************************/

/*RANDOM STUFF */

.fa-github {
	color: orange;
	display: block;
	margin-top: 5em;
}

.jumbotron {
	opacity: .9
}

/******************************************************************************/

/*FOR DYNAMIC BACKGROUND*/

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url("images/demo-2-bg.jpg");
	opacity: .9
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title,
.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media screen and (max-width : 767px) {
	.demo-1 .main-title{
		font-size: 3em;
	}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block;
}
audio,canvas,video{
	display:inline-block;
}
audio:not([controls]){
	display:none;
	height:0;
}
[hidden]{
	display:none;
}
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	margin:0;
}
a:focus{
	outline:thin dotted;
}
a:active,a:hover {
	outline:0;
}
h1{
	font-size:2em;
	margin:0.67em 0;
}
abbr[title]{
	border-bottom:1px dotted;
}
b,strong{
	font-weight:bold;
}
dfn{
	font-style:italic;
}
hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
mark{
	background:#ff0;color:#000;
}
code,kbd,pre,samp{
	font-family:monospace,serif;
	font-size:1em;
}
pre{
	white-space:pre-wrap;
}
q{
	quotes:"\201C" "\201D" "\2018" "\2019";
}
small{
	font-size:80%;
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-0.5em;
}
sub{
	bottom:-0.25em;
}
img{
	border:0;
}
svg:not(:root){
	overflow:hidden;
}
figure{
	margin:0;
}
fieldset{
	border:1px solid #c0c0c0;margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend{
	border:0;
	padding:0;
}
button,input,select,textarea{
	font-family:inherit;
	font-size:100%;
	margin:0;
}
button,input{
	line-height:normal;
}
button,select{
	text-transform:none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;cursor:pointer;
}
button[disabled],html input[disabled]{
	cursor:default;
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0;
}
input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0;
	}textarea{
		overflow:auto;
		vertical-align:top;
		}table{
			border-collapse:collapse;
			border-spacing:0;
		}
