/*Easily view div sections*/

/*div {
	border: 2px solid #73AD21;
}

section {border: 2px solid blue;}*/

.main-title a {
	color: #FFFFFF;
	text-decoration: none;
}

/******************************************************************************/

/*CODE FOR YELLOW UNDERLINES*/

.about-underline{
	border-bottom: 4px solid #edc27b;
	margin: auto; /* this  keeps the yellow line under About centered */
	width: 4em; /*using em since it keeps the width fixed regardless of screen size */
}


.edu-exp-underline {
	border-bottom: 4px solid #edc27b;
	margin: 0px auto; /* this  keeps the yellow line under About centered */
	width: 15em; /*using em since it keeps the width fixed regardless of screen size*/
}

/* When the screen is smaller than 767px, education and experience changes from one line to
two with just "Experience" underlined */
@media screen and (max-width: 767px) {
	.edu-exp-underline {
		border-bottom: 4px solid #edc27b;
		margin: 0px auto; /* this  keeps the yellow line under About centered */
		width: 9em; /*using em since it keeps the width fixed regardless of screen size*/
	}
}

.interests-underline {
	border-bottom: 4px solid #edc27b;
	margin: 0px auto; /* this  keeps the yellow line under About centered */
	width: 6em; /*using em since it keeps the width fixed regardless of screen size*/
}

/******************************************************************************/

/*Styling for Frisbee Image*/

@media screen and (max-width: 1280px){
	.positioning {
		float: right;
		width: 6em;
		padding-top: 5px;
	}
}

@media screen and (max-width: 991px){
	.positioning {
		float: right;
		padding-top: 10px;

	}
}

@media screen and (max-width: 645px){
	.positioning {
		width: 0em;
	}
}


/******************************************************************************/

/*FONT AND TEXT STYLING*/

@font-face {
	font-family: baron-neue;
	src: url(fonts/baron_neue-webfont.woff);
}

.larger {
	font-size: 13pt;
}

.baron-neue {
	font-family: baron-neue;
}

.center-text {
	text-align: center;
}

/******************************************************************************/

.opacity {
	opacity: .6;
}

/******************************************************************************/

/*BORDERS AND MARGINS*/
.easy-border {
	padding-left: 3%;
	padding-right: 3%;
}

.top-margin {
	margin-top: 2em;
}

.bottom-margin {
	margin-bottom: 2em;
}

.left-margin {
	margin-left: 2em;
}

/******************************************************************************/

/*RANDOM STUFF */

.fa-github {
	color: orange;
	display: block;
	margin-top: 5em;
}

.fa-center {
	text-align: center;
}

.jumbotron {
	opacity: .9
}

/******************************************************************************/

/*FOR DYNAMIC BACKGROUND*/

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url("images/demo-2-bg.jpg");
	opacity: .9
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title,
.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title{
		font-size: 3em;
	}
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
