$blue: rgb(80, 152, 196);

@keyframes text {
	0% {
		transform: translatey(-100vh);
		color: white;
	}
    70% {
		color: white;
    }
	90% {
		transform: translatey(0);
	}
	100% {
		color: $blue;
		text-shadow: 2px 3px 9px black;
	}
}

.landing {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1)), url(https://d2rx8thx7xqki2.cloudfront.net/background-image.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	h1 {
		position: relative;
		margin: 5vw 30px 0 5vw;
		font-family: 'verlag', 'Lato', sans-serif;
		font-weight: 300;
		font-size: 80px;
		animation: text 1.3s;
		animation-fill-mode: both;
		color: $blue;

		@media all and (max-width: 410px) {
			font-size: 63px;
		}
	}

	p {
		margin: 0 30px 0 5vw;
		font-size: 18px;
		color: white;
	}

	svg {
		position: absolute;
		bottom: 0;
	}

	h2 {
		margin-top: 200px;
		color: white;
		text-align: center;
	}

}
