.article-container {
	@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

	margin: 0 auto;
	max-width: 700px;
	padding: 10px;

	h1 {
		text-align: center;
		margin: 30px auto 0 auto;
		max-width: 700px;
	}

	h2 {
		margin: 30px auto 0 auto;
	}

	h3 {
		margin: 30px auto 0 auto;
	}


	a {
		font-size: .9em;
	}

	p {
		font-family: 'Crimson Text', serif;
		margin: 7px 0;
		font-size: 1.2em;
		line-height: 1.7em;
	}

	blockquote {
		margin: 10px auto;
		width: 80%;
		font-style: italic;
	}

	.prismjs {
		padding: 5px;
		background-color: #e6e6e6;
		font-size: 15px;
	}

	code {

		> * {
			font-family: 'Fira Mono', serif !important;
		}

		#text {
			font-family: 'Fira Mono', serif !important;
		}

	}

	ol {
		padding: 0 0 0 30px;
		font-size: 1.2em;

		li {
			font-family: 'Crimson Text', serif;
		}
	}

	ul {

		padding: 0 0 0 30px;
		font-size: 1.2em;

		li {
			font-family: 'Crimson Text', serif;
		}
	}

	em {
		font-family: 'Crimson Text', serif;
	}
}
