.article-container {
	@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

	margin: 0 auto;
	max-width: 700px;
	padding: 10px;

	a {
		font-size: .9em;
	}

	blockquote {
		margin: 10px auto;
		width: 80%;
		font-style: italic;
	}

	p {
		font-family: 'Crimson Text', serif;
	}

	.prismjs {
		padding: 5px;
		background-color: #e6e6e6;
		font-size: 15px;
	}

	code {

		> * {
			font-family: 'Fira Mono', serif !important;
		}

		#text {
			font-family: 'Fira Mono', serif !important;
		}

	}
}
