:root {
	--main-bg-color: rgba(245, 70, 50, 1);
}

.about {
    position: relative;
	width: 100vw;
	fill: var(--main-bg-color);;
	background: var(--main-bg-color);;
    overflow: initial;

	svg {
		position: absolute;
		top: 0;
        transform: translateY(calc(-100% + 1px));

		text {
			font-family: 'verlag', 'Lato', sans-serif;
			font-weight: 300;

			@media all and (max-width: 800px) {
				display: none;
			}
		}
	}

	div {
		margin: 0 auto;
		max-width: 1200px;
		padding: 20px 60px 60px 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			display: none;

			@media all and (max-width: 800px) {
				display: block;
				font-family: 'verlag', 'Lato', sans-serif;
				font-size: 50px;
				text-align: center;
			}
		}

		p {
			margin: 20px 0;
			font-size: 18px;
		}

	}

}
