.interests {
	margin-top: 60px;
	width: 100vw;
	background-color: rgb(119, 169, 157);

	svg {
		position: absolute;
        transform: translateY(calc(-100% + 1px));
		fill: rgb(119, 169, 157);

		text {
			font-family: 'verlag', 'Lato', sans-serif;
			font-weight: 300;

			@media all and (max-width: 800px) {
				display: none;
			}
		}
	}

	h1 {
		padding: 20px;
		text-align: center;
		font-family: 'verlag', 'Lato', sans-serif;
		font-size: 50px;
	}

	p {
		margin: 20px 60px;
		font-size: 17px;
	}

}
