$blue: rgb(80, 152, 196);

@font-face {
    font-family: 'verlag';
    src: url("./../../../styles/verlag.woff2");
}

@keyframes text {
	0% {
		transform: translatey(-40vh);
		color: white;
	}
    50% {
		color: white;
    }
	90% {
		transform: translatey(0);
	}
	100% {
		color: $blue;
		text-shadow: 2px 3px 9px black;
	}
}

.landing {
	--overlay: 0.75;
    position: relative;
	height: 100vh;
	background: linear-gradient(
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, var(--overlay)),
		rgba(0, 0, 0, 1),
	),
	url('https://d2rx8thx7xqki2.cloudfront.net/background-image.jpg')
	center
	no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;


	&--text {
		position: fixed;

		h1 {
			margin: 30px 0 15px 30px;
			font-family: 'verlag', 'Lato', sans-serif;
			font-weight: 300;
			font-size: 80px;
			animation: text 1.3s;
			animation-fill-mode: both;
			animation-delay: .5s;
			color: $blue;

			@media all and (max-width: 410px) {
				font-size: 63px;
			}
		}

		h2 {
            font-family: 'Lato', 'sans-serif';
		}

		p {
            font-family: 'Lato', 'sans-serif';
			margin: 15px 0 0 30px;
			font-size: 18px;
			color: white;
		}

	}
}
